[2016-04-23 15:36] Darkelfen opened #2 "Pequeñas correcciones"
[UI - L774](https://github.com/TreeOfSavior-Spanish/Spanish-Patch/blob/Parche/Spanish/UI.tsv#L774) recividos -> recibidos
[UI - L1719](https://github.com/TreeOfSavior-Spanish/Spanish-Patch/blob/Parche/Spanish/UI.tsv#L1719) recivir -> recibir

[ITEM - L4](https://github.com/TreeOfSavior-Spanish/Spanish-Patch/blob/Parche/Spanish/ITEM.tsv#L4) Brzalete -> Brazalete

No logré encontrar donde esta el

"

[2016-04-23 16:38] Yokimitsuro commented on #2
Corregido

[2016-04-23 16:38] #2 closed, assigned to nobody

[2016-04-24 07:36] Darkelfen opened #3 "Correcciones"
Quest.tsv L15:I am afraid what I foresaw has come to pass
me temo que lo que preví ha llegado a pasar -> ha comenzado a ocurrir.
 ("come to pass" es idiomático).

Quest.tsv L19: I was forced to hide until the time of your appearance.
Me vi obligado a esconderme -> Fui forzada a esconderme.
(Voz pasiva, ella no se vio obligada; fue forzada a, en contra de su voluntad).

[2016-04-24 23:30] Darkelfen commented on #3
Corregido en https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/eb845d4c9790c73359e96d1b190da71aa6eecb27

[2016-04-24 23:30] #3 closed

[2016-04-25 06:13] Yokimitsuro opened #4 "Error de Genero ETC.tsv"
ETC.tsv
L19891 "ETC_20151224_019892   [Señor de Orsha]{nl}    Inesa Hamondale" Debería ser "ETC_20151224_019892     [Señora de Orsha]{nl}    Inesa Hamondale"

[2016-04-25 06:40] Darkelfen commented on #4
En este caso Señor es el título de Inesa, no que sea una Señora.
Lord of Orsha, intentaré encontrar un equivalente de genero neutral, porque Señora no suena a "Título"

[2016-04-25 06:45] Yokimitsuro commented on #4
La palabra lord también tiene variante femenina, dado que no es aplicable a mujeres, por lo que en estos casos se opta por los términos “Dame” o “Lady”.

[2016-04-25 06:49] Darkelfen commented on #4
Inglés: [Lord of Orsha]{nl}    Inesa Hamondale
Coreano: [오르샤 영주]{nl}이네사 해먼데일

영주: es Feudal Lord

[2016-04-25 06:57] Yokimitsuro commented on #4
si, no te estoy diciendo que no sea un titulo, pero, más de una vez en series españolas que se basan en la época antigua a los Lord que son mujeres se les llama Señora  y  en este caso  "Señora de Orsha" se nota que es un titulo.

[2016-04-25 07:01] Darkelfen commented on #4
Ok, en ese caso sí. El problema que me sucede es que "Señora" suena muy común (en extremo) y por la diferencia de contexto no se entiende que sea "importante". Sin embargo si se sub-entiende que es Título, no habría problema ;).

[2016-04-25 08:26] Darkelfen commented on #4
Solucionado en 4a871ab66386cc44d3e7791624508c3b4a22bcd2

Señor -> Dama
(Dama me suena mejor que Señora)

[2016-04-25 08:26] #4 closed, assigned to Darkelfen

[2016-04-25 23:37] Darkelfen opened #5 "Correcciones en ITEM.tsv"
L195: hroas -> horas
L198: Infierno y Cielo -> Cielo e Infierno (Es un Binomio como Black and White, en español Blanco y Negro, el orden está ligado a la velocidad a la cuál lo procesa el cerebro).

Al parecer  L1, L3, L10, L304, L407 y L488 son constantes, recomendaría revertir.

Creo que "Se puede leer" queda mejor cómo "Leíble", no sé que opinen al respecto.
(http://dle.rae.es/?id=N5ZAA9H)

Fin

[2016-04-26 06:03] Yokimitsuro commented on #5
me parece bien todo, en cuanto llegue a casa hago el commit con las correcciones :)

[2016-04-26 06:07] Yokimitsuro opened #6 "Corrección en ETC.tsv"
L2118 "Has abierto el cofre" debería ser "Abriendo el cofre".
Lo vi en el juego, mientras la barrita de abrir el cofre cargaba ponía encima "Has abierto el cofre" cuando debería ser que lo estoy abriendo

[2016-04-26 20:59] Darkelfen opened #7 "Correcciones en Quest.tsv"
L24: jardín de flores superior -> en el jardín de flores más alto.
L25: aterrorizado -> aterrorizada (La Maestre Bokor es Mujer).
L26: Acá no estoy seguro del "encontrar", pues a esa altura ya te has "encontrado" con Uska, creo que "encontrarte con Uska", es más apropiado al contexto.
Sobre la traducción de Sir Uska, en lo personal usaría "Don Uska", porque señor me suena extraño.

[2016-04-26 21:26] Yokimitsuro commented on #7
Sir es de caballero ya que es un paladín no de señor.

[2016-04-26 22:31] Darkelfen commented on #7
También lo había pensado, pero no sé si la Maestre Bokor se refiere a Uskas cómo un Caballero o cómo un Don.

[2016-04-26 22:38] Yokimitsuro commented on #7
habla de el como un paladin yo supondría que se refiere  a caballero. no imagino Don de ninguna forma

[2016-04-26 23:37] Yokimitsuro opened #8 "Actualización ETC"
L21387 Ahora es:
{nl}Reduces Potential when equipped.{nl}{nl}Number of Magic Amulets that can be equipped: {Remain}

Añadidas lineas de la 21740 a la 21758

[2016-04-26 23:39] Yokimitsuro opened #9 "Actualización INTL"
Añadidas 3 lineas a traducir

[2016-04-27 00:05] Yokimitsuro opened #10 "Correcciones ETC"
"Deshaste" debe corregirse a "Deshazte."

[2016-04-27 01:15] Darkelfen commented on #6
Solucionado en 32139a7

[2016-04-27 01:15] #6 closed, assigned to Darkelfen

[2016-04-27 01:15] Darkelfen commented on #10
Listo, muchas gracias.
Solucionado en https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/32139a7d7652a78f6bc55e50bac47576778f5928

[2016-04-27 01:15] #10 closed, assigned to Darkelfen

[2016-04-27 01:16] Darkelfen commented on #8
Listo en 32139a7

[2016-04-27 01:16] #8 closed, assigned to Darkelfen

[2016-04-27 04:02] Darkelfen commented on #9
Corregido en 5085ee3f04ada38604b69eec3d7b04fa9910f744

[2016-04-27 04:02] #9 closed, assigned to Darkelfen

[2016-04-27 04:09] Darkelfen commented on #7
Entonces, creo que L26 debería quedar más o menos así:

Bueno, deberías apresurarte y encontrar al señor Uska -> Bueno, deberías apresurarte y encontrarte con el Caballero Uska.

Considerando que el nombre del NPC es "Knight Commander Uska".

[2016-04-27 06:21] #5 closed, assigned to Yokimitsuro

[2016-04-27 09:55] Yokimitsuro opened #11 "Corrección en ETC.tsv"
L2752 "Ataque Rango" debería ser "Rango de ataque"
L2576 "¡Critico!" debería ser "¡Crítico!"
L4306 "Ratio Completo de Navegación" debería ser "Porcentaje de Navegación Completa"

"Remover" debería ser "Borrar" - Remover da a entender  que se mueve de nuevo

"Porfavor" debería ser "Por favor"

"Ratio de crítco" -->> "Tasa de críticos" o "Probabilidad de críticos" || lo mismo pasa con Bloqueo

Todos

[2016-04-28 07:16] Yokimitsuro opened #13 "Corrección ETC.tsv 2"
L1581 {S20}{ol}{#46c8ff} No tienes suficientes PM
Debería ser "No tienes suficiente Resistencia"

[2016-04-28 08:32] Darkelfen commented on #11
Listo en 79859081534cff94051ef9bf15bfb83c1e0f2083

[2016-04-28 08:32] #11 closed, assigned to Darkelfen

[2016-04-28 08:32] Darkelfen commented on #13
Listo en 79859081534cff94051ef9bf15bfb83c1e0f2083

Ahora quedó un No tienes suficiente Resistencia y No tienes suficientes PM

[2016-04-28 08:32] #13 closed, assigned to Darkelfen

[2016-04-28 14:34] Alex-GS opened #14 "2 Traducciones de monstruos para ETC.tsv"
Debido a traducción de objetos en ITEM.tsv ya he encontrado traducción para el nombre de dos monstruos pendientes en ETC.tsv
- ETC_20150714_011712 Brown Socket Archer => Arquero de Cuencas Marrones
- ETC_20150317_000516 Greentoshell => Corazaverde

La imagen del primer monstruo: https://i.gyazo.com/a5d5bb3c8733ff6f6afaf0da81c6046f.png
El segundo es un tipo bestia que dropea trozos de caparazón/cor

[2016-04-29 10:52] Yokimitsuro opened #15 "Error en Traducción de monstruo ETC"
ETC_20150317_000399    Shadowgaler
Esta traducido como "Ruiseñor Sombrío"
![Shadowgaler](https://cdn.discordapp.com/attachments/174667057218977792/175553258679435265/unknown.png)

Gale --> Significa  tormenta, vendaval, tempestad....

 por lo tanto la traducción debería ser algo Vendabal sombrio, Tormenta Sombria... o algo asi

[2016-04-29 17:10] Darkelfen commented on #15
A este le había hecho una nota especial, pero no la encontré por ningún lugar.
Cuento corto: Tenía 2 opciones:
- Si era un mob que se asemejase a un ave; era un juego de palabras con Nightingale (Ruiseñor).
- Si era otro mob, era un nombre compuesto.

Opté por la primera opción al momento de traducirlo, pues sin ver el mob me hizo más sentido.

[2016-04-29 21:21] Darkelfen commented on #14
Listo en 7016272d29ea587fc8480af6fea365c2307e76a4

[2016-04-29 21:21] #14 closed, assigned to Darkelfen

[2016-04-29 21:22] Darkelfen commented on #15
Listo en 7016272d29ea587fc8480af6fea365c2307e76a4.

Quedó cómo "Tormentador Sombrío", razones en los comentarios del commit.

[2016-04-29 22:04] Yokimitsuro opened #16 "Correcciones ETC"
tranportarte -> Transportarte

Tormentador Sombrío creo que habria que discutirlo queda fatal. Quizás Tormento Sombrío o Tormenta Sombría o Sombra Atormentada. La zona esta llena de Sombras Negras(enemigos).

[2016-04-30 04:13] Darkelfen commented on #16
No logré encontrar tranportarte dentro del ETC.

Sobre "Shadowgaler" el asunto es conservar la inflexión "-r" del nombre. Pues da el sentido de "El que crea vientos/tormentas/tempestades de sombra/oscuridad" no que el mob es "un viento-sombra". Eso es importante a la hora de traducir el mob.

Le puse "Tormentador" pues no encontré otro equivalente más adecuado y que hiciera un juego de palabras, c

[2016-05-02 10:26] Alex-GS commented on #16
"Llama Tormentas Oscuro" o "Clamatormentas Oscuro". No sería la primera vez que se utilizan esos nombres en la traducción de un juego. A unas malas "Tormentador Oscuro" tampoco es un mega-desastre.

[2016-05-02 15:57] Yokimitsuro commented on #16
Clamatormentas me gusta, me parece d elos mas correctos.

[2016-05-02 15:58] Yokimitsuro opened #17 "ETC ERROR"
En el juego sale que hay un error en esta linea, no la he comparado con la inglesa, pero dice que es en ETC_20150428_019121. este mensaje sale en una de las pantallas de carga.

ETC_20150428_019121    FAQ : Guarida{nl}1) Puedes cambiar el nombre de tu Guarida dandole click a "Configuración de Guarida". {nl}2) Puedes comprar aspectos para tu Guarida usando iCoins al darle click a "Cambiar Guarida".

[2016-05-02 16:28] Yokimitsuro opened #18 "Muertos Vivos En Fuga"
Creo que los DeadBorn Scap, Scap es un nombre propio y DeadBorn Podriamos dejarlo como No muerto o Muerto Viviente.

En ningún momento veo el En fuga

[2016-05-02 16:50] Alex-GS commented on #18
Deadborn => Nacido muerto => Podría aceptarse "Nonato"
Scap lo ha interpretado como "Scape", pero no es el caso.

"Scap Nonato" sería una buena traducción.

PD: El contexto de este monstruo según su lore, es que surge a partir de trozos amputados de otros Deadborn. Por lo cual no nace naturalmente, y ya nace muerto, pues son no-muertos.

[2016-05-02 16:58] Alex-GS commented on #15
Como sugirió Darkloud en Discord este nombre habría que reajustarlo un poco más. Propongo:
- Clamatormentas Sombrío
- Llamatormentas Sombrío

No se pierde la esencia del que crea el vendaval, pero tampoco resulta chocante como "Tormentador".

[2016-05-02 17:00] Alex-GS commented on #16
Lo he sugerido en el otro ISSUE y lo he re-abierto para que quede allí bien registrada la solución final: #15

[2016-05-02 17:06] Alex-GS commented on #17
Esa línea en el original inglés:

ETC_20151224_019121 FAQ : Lodge{nl}1) You can change the name of your lodge by clicking "Lodge Settings".{nl}2) You can purchase Lodge skins using TP by clicking "Change Lodge".{nl}3) You can select a channel from the Lodge.

Parece bien traducida... ¿Podrías detallar más sobre el error? Tal vez una screenshot. Puede que sea algo de IMC o que tenga que ver con nue

[2016-05-02 17:16] Alex-GS opened #19 "ETC => Error grave, Vubbe Fighter y Vubbe Warrior traducidos exactamente igual"
Al parecer la traducción en ETC de Vubbe Fighter y Vubbe Warrior se ha realizado de la misma forma, por lo cual ahora no se puede distinguir a estos dos monstruos, a pesar de ser distintos.

INGLÉS => ETC_20150317_000048  Vubbe Luchador
ESPAÑOL => ETC_20150317_000048 Vubbe Luchador

INGLÉS => ETC_20150317_000555  Vubbe Warrior
ESPAÑOL => ETC_20150317_000555 Vubbe Luchador

Por fortuna el error de

[2016-05-02 17:54] Darkelfen commented on #16
También me convence usar el prefijo "Clama-"

[2016-05-02 17:55] Darkelfen commented on #17
El error es el procesamiento de las "", deben ser ''.

[2016-05-02 17:56] Yokimitsuro commented on #16
sin el guión ni separación

[2016-05-02 18:02] Darkelfen commented on #16
Sí, el - es para indicar un prefijo.

[2016-05-02 18:05] Darkelfen commented on #16
listo en ebebc5082e4b402191f75d9fb498acca7c42faff

[2016-05-02 18:05] #16 closed, assigned to Darkelfen

[2016-05-02 18:06] Darkelfen commented on #15
ahora sí que si en ebebc5082e4b402191f75d9fb498acca7c42faff

[2016-05-02 18:06] #15 closed, assigned to Darkelfen

[2016-05-02 18:06] Darkelfen commented on #17
listo en ebebc5082e4b402191f75d9fb498acca7c42faff

Si eran ""

[2016-05-02 18:07] Darkelfen commented on #18
Suena a nombre de película, Scap lo interpreté cómo Scapee, my bad.
Listo en ebebc5082e4b402191f75d9fb498acca7c42faff

[2016-05-02 18:07] #18 closed, assigned to Darkelfen

[2016-05-02 18:08] Darkelfen commented on #19
Puse Vubbe Warrior cómo Vubbe Guerrero y Vubbe Fighter cómo Vubbe Luchador, se hizo FnR con lo mismo en ebebc5082e4b402191f75d9fb498acca7c42faff

[2016-05-02 18:08] #19 closed, assigned to Darkelfen

[2016-05-03 02:53] Darkelfen commented on #15
Re-abro, acabo de ver Clamatormentas Sombrío y en lo personal no me convence del todo.
Podríamos elaborarlo un poco más?

[2016-05-03 05:26] Yokimitsuro commented on #15
A mi me convence muchisimo mas que ningún otro sinceramente yo lo dejaria asi

[2016-05-03 13:05] Alex-GS opened #20 "ETC => Traducción de "Black Maize" y "Charcoal Walker""
Dos traducciones de monstruos desde ITEM.tsv
- ETC_20150317_000880     Black Maize => Mazorca Negra (NdT: Literalmente sería "Maiz Negro", pero el bicho es más bien una mazorca, "cob", más fácil de leer y entender como Mazorca Negra / Mazorcas Negras)
- ETC_20151224_017760   Charcoal Walker => Caminante de Carbón

[2016-05-03 13:22] Alex-GS commented on #15
Si quieres una traducción literal: "Shadowgaler" => "Vendavaladorsombrío"

Pero si lo adaptamos, tal y como hemos hecho, y revisas todas las posibilidades... Me parece que "Clamatormentas Sombrío" es perfecto. Shadow solo puede derivar en Sombra o Sombrío, porque para lo demás tenemos Black, Dark, Darkness, etc. Y no tenemos verbo en español del que sacar un agente para Galer, que viene de Gale =>

[2016-05-03 14:28] Yokimitsuro opened #21 "Lineas ETC"
El archivo ingles de ETC tiene mas lineas que el nuestro, compruébalo con el ETC del cliente ingles por favor.

[2016-05-03 14:39] Yokimitsuro opened #22 "Errores de nombre en ITEM"
hay nombres de de pulseras por ejemplo (Bronza) que no esta traducido a Pulsera de Bronce.
Luego equipamiento que tiene el nombre delante por ejemplo Sirdgella Malla de Escamas, debería de ser Malla de Escamas Sirdgella.

[2016-05-03 14:40] Yokimitsuro opened #23 "Radio del Área de Defensa (ETC)"
Radio del area de defensa esta traducido como Radio del area de ataque.

[2016-05-03 14:43] Yokimitsuro opened #24 "Tasa de Bloqueo ETC"
Si pones Probabilidad de Critico, pon todos con probabilidad de critico y haz lo mismo con Tasa de Bloqueo en L2754. no pongas algunos con tasa y otros con probabilidad
ETC_20150317_002754 Tasa de Bloqueo => ETC_20150317_002754  Probabilidad de Bloqueo

[2016-05-03 14:45] Yokimitsuro commented on #17
![20160503163352_1](https://cloud.githubusercontent.com/assets/14833406/14986981/7805a84c-114e-11e6-8031-141352d5c38e.jpg)

Tienes que cambiarle "ETC_20150428_019121" por "ETC_20151224_019121"

[2016-05-03 23:25] Darkelfen commented on #22
Yo dejaría Bronza, pues no es "Bronze" es "Bronza", sería nombre propio, a menos que se hayan equivocado en traducir el _kor.

[2016-05-03 23:27] Darkelfen commented on #23
estos 2 los regresaré a AoE Attack/Defense Ratio, porque no tenemos un consenso aún de cómo abordar este caso. La solución que le dí fue usar flecha arriba y flecha abajo, pero no creo funcione, podrías ponerme una SS porfavor.

[2016-05-03 23:30] Darkelfen commented on #24
Tengo una confusión acá porque se usan 2 términos distintos.

rate y chance / tasa y probabilidad respectivamente.

[2016-05-03 23:37] Darkelfen commented on #20
En lugar de Mazorca, preferiría "Maíz", pues es más amplío que "Mazorca/Elote/Choclo" y muchos otros nombres que recibe el "Corn" al otro lado del charco.

Sobre Charcoal Walker, no estoy seguro de si hay una palabra especifica para referirse a alguien que camina sobre fuego/carbón. Si son imagianciones mías, caminante de carbón estaría bien (aunque suena a que es carbón andante, si es eso no habr

[2016-05-03 23:50] Darkelfen commented on #15
No me suena "natural", no me suena mal tampoco, sin embargo tampoco logro encontrar otro término mejor.

Realicé la búsqueda de "Clamatormentas" no es para nada común y me atrevería a decir que es "exclusivo" del lore de Warcraft, eso hasta que encontré esto:
https://www.rincondeldm.com/wiki/dungeons-dragons/lore/dioses/umberlee

Si D&D lo aprueba, lo apruebo.

[2016-05-04 05:25] Yokimitsuro commented on #22
Bronza es bronce viene de otro idioma , del ruso

[2016-05-04 05:28] Yokimitsuro commented on #23
No entiendo, solo tienes que poner el de defensa como defensa para solucionar el problema ya que en las estadisticas de ven dos de ataque y no tiene sentido ya qur uno de ellos se refiere a defensa

[2016-05-04 06:08] Yokimitsuro commented on #24
tu estas usando uno para cuando te lo muestra en el arma y otro en las estadisticas

[2016-05-04 06:09] Yokimitsuro commented on #15
pues corrigelo y cierra :+1:

[2016-05-04 10:49] Alex-GS commented on #22
Yo también lo dejaría como "Bronza". Es decir, no lo han traducido al inglés, han querido dejarlo como un nombre propio especial. Básicamente no intentaría traducir nada que no estuviera en inglés.

[2016-05-04 10:56] Alex-GS commented on #20
De acuerdo, traduzcamos pues "Black Maize" como "Maíz Negro". Podría funcionar, al igual que "Ojo Negro" o "Mano Negra".

En el caso de Charcoal Walker se trata de un monstruo que es, literalmente, un pedazo de carbón andante. Llamarlo "Carbón Andante" sería otra posibilidad que no me atrae tanto. "Caminante de Carbón" suena un poco más esotérico, encima es la traducción directa y queda bien.

[2016-05-04 11:32] Yokimitsuro commented on #22
pues no tocamos eso si queréis pero la posición del nombre del equipo si por favor >.<

[2016-05-04 19:44] Alex-GS commented on #22
Si claro, el nombre de las piezas de equipo van ordenadas como dice Darkloud. Un ejemplo inventado:

Espada de Madera Artie
Maza de Madera Artie

[2016-05-04 19:49] Yokimitsuro commented on #22
es que tu parte del archivo nose si es por FnR pero no esta ordenado xD

[2016-05-04 20:43] Yokimitsuro opened #25 "L3576 ETC"
ETC_20150317_003576 ¡A festejar!
Deberia ser
ETC_20150317_003576 ¡Hagamos grupo! ya que se refiere a la descripción por defecto de los grupos.

[2016-05-04 20:47] Yokimitsuro opened #26 "L3591 a 3593 ETC"
Tienes puesto DEX en vez de  DES en las lineas de ETC

[2016-05-04 22:23] Yokimitsuro commented on #21
Cierro, confusión de notepad++

[2016-05-04 22:23] #21 closed, assigned to Darkelfen

[2016-05-04 22:40] Alex-GS commented on #22
Lo revisaré cuando vuelva a casa, estoy fuera un par de días. Mañana volveré.

[2016-05-05 11:52] Yokimitsuro commented on #17
Cambia Icoins por TP y ya lo puedes cerrar al hacer el commit

[2016-05-05 12:02] Yokimitsuro opened #27 "ETC => Traducción Algunos monstruos"
Crystal Spider => Araña de Cristal
Black Drake => Draco Negro
Green Drake => Draco Verde
Desert Chupacabra => Chupacabra del Desierto

[2016-05-05 15:14] Yokimitsuro opened #28 "PC => PJ ETC ERROR URGENTE"
Has hecho FnR de PC por PJ, Vuelve a poner todos los que estan entre {} como PC

dejandolos tal que {PC}
![screenshot_20160505_00002](https://cloud.githubusercontent.com/assets/14833406/15047382/fed08e68-12e4-11e6-970f-4e23f821e993.jpg)

[2016-05-05 15:40] Yokimitsuro commented on #28
Reparado y Subido por mi, por ser urgente.

[2016-05-05 15:40] #28 closed, assigned to Darkelfen

[2016-05-05 19:15] Alex-GS commented on #22
Debido a que no se ha encontrado el error que comenta Darkloud91 cierro ISSUE.

[2016-05-05 19:15] #22 closed, assigned to Alex-GS

[2016-05-05 20:34] Darkelfen commented on #26
FnR

[2016-05-05 20:35] Darkelfen commented on #17
FnR
Icons -> TP
Ya arreglé esa línea.

[2016-05-05 20:39] Darkelfen commented on #23
Quedó así:

ETC_20150317_002785 Radio de Ataques de Área
ETC_20150317_002786 Radio de Defensa a Ataques de Área

Original:
ETC_20150317_002785 AoE Attack Rate
ETC_20150317_002786 AoE Defense Rate

Si tienen una mejor traducción o comentarios respecto a estos 2 favor hacermelos llegar, no cierren este issue hasta que logremos definir bien eso por favor

[2016-05-05 20:45] Darkelfen commented on #24
Sí, en original 1 se muestra cómo rate y el otro cómo chance.
Mis dudas son las siguiente:
- es la "probabilidad" de bloqueo n° o %?
- es la "tasa" de bloqueo n° o %?

en caso que ambas sean %, no tengo problemas en igualar "rate" y "chance" para que ambos sean tasa o probabilidad (en lo personal, optaría por tasa por ser más "corto").

En caso de ser distintos, creo debería quedar así, pues no sé

[2016-05-05 20:47] Darkelfen commented on #25
Gracias, solo decía "party!" así que lo tome cómo "fiesta".
y que tal "¡Vamos en Grupo!" ?

[2016-05-05 20:49] Darkelfen commented on #27
FnR, no logré encontrar el Draco verde

[2016-05-05 20:54] Yokimitsuro commented on #25
tambien me parece bien

[2016-05-05 20:56] Yokimitsuro commented on #24
yo creo que deberia ser lo mismo por que la estadistica que te sube no debe llamarse distinta osea yo me equipo una que me sube probabilidad y en estadisticas al equiparmela me aumenta la tasa, es raro... :S  yo dejaria probabilidad ya que se entiende mejor y no hay problemas de espacio

[2016-05-05 20:57] Yokimitsuro commented on #23
por que no..
Radio del Área de Ataque
Radio del Área de Defensa
creo que queda mejor

[2016-05-05 21:04] Alex-GS commented on #23
Tengo la respuesta a vuestras dudas :P

AoE Attack Rate => Cupo de Ataque AoE
AoE Defense Rate => Cupo de Defensa AoE

**HAY QUE MEJORARLO**, pero es lo que significa. Os explico:
- AoE Attack Rate es el número de enemigos que se verán afectados por una habilidad de área. Cada habilidad tiene su propio AoE Attack Rate al que se le suma el del personaje (que es aumentado por equipamiento y buffs)
-

[2016-05-05 21:07] Alex-GS commented on #24
En ambos casos es Probabilidad de Bloqueo. Utilizan chance y rate indistintamente para referirse al % de bloqueo. En español no es tan obvio si no se usa "Probabilidad".

[2016-05-05 21:14] Darkelfen commented on #24
Ese punto lo entiendo, lo que no entendía era si por ejemplo uno era un % y el otro un número.
Ejemplifico:

Equipo:
Escudo de Madera
Probabilidad de Bloqueo +10.

En tus estadísticas:
Tasa de Bloqueo antes del escudo: 7%
Tasa de bloqueo después del escudo: 10%

En ese caso serían distintos, si ambos funcionan igual y no hay diferencia alguna, hago FnR en Tasa de Bloqueo a Probabilidad de Bloqueo.

[2016-05-05 21:20] Darkelfen commented on #23
Esa es la misma duda que tengo actualmente, el concepto en sí está enredado.

[2016-05-05 22:54] Darkelfen commented on #23
ETC_20150317_002785 Amplitud de Ataque de Área
ETC_20150317_002786 Defensa contra Ataques de Área

[2016-05-05 23:39] Darkelfen commented on #17
Línea lista en :https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/b66776e7f23c5288879eae256f00fb16a739b292

iCoins -> TP: https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/ef6d4d91180be4b6fdfb6a356a9490372420328d

[2016-05-05 23:39] #17 closed, assigned to Darkelfen

[2016-05-05 23:40] Darkelfen commented on #20
Listo en https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/42988133716d092587aec405f1b2acab5721ef4f

[2016-05-05 23:40] #20 closed, assigned to Darkelfen

[2016-05-05 23:43] Darkelfen commented on #23
listo en https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/b66776e7f23c5288879eae256f00fb16a739b292

[2016-05-05 23:43] #23 closed, assigned to Darkelfen

[2016-05-05 23:44] Darkelfen commented on #25
Listo en https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/b66776e7f23c5288879eae256f00fb16a739b292

[2016-05-05 23:44] #25 closed, assigned to Darkelfen

[2016-05-05 23:44] Darkelfen commented on #26
listo en https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/b66776e7f23c5288879eae256f00fb16a739b292

[2016-05-05 23:44] #26 closed, assigned to Darkelfen

[2016-05-05 23:48] Darkelfen commented on #27
Draco y araña listos en https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/b66776e7f23c5288879eae256f00fb16a739b292
Desert Chupacabra listo en https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/4a70bb1d9d5933756164f3bdc9515615e976bef1

[2016-05-05 23:48] #27 closed, assigned to Darkelfen

[2016-05-06 05:47] Darkelfen opened #29 "nombre de Item"
Piel de Lauzinute -> Caparazón de Lauzinute (es un escorpion).

[2016-05-06 06:10] Yokimitsuro commented on #29
Se ha traducido de skin. Shell se usa como caparazón

[2016-05-06 06:23] Darkelfen commented on #29
Así es, sin embargo en este caso no me fío de la traducción Inglesa pues la palabra coreana  "껍질" (kkeobjil) puede ser usada con las siguientes acepciones:
- Shell
- Skin
- Husk

En este caso al ser el mob un Escorpion, corresponde que se emplee "Caparazón" en lugar de "piel" (lo mismo aplica para Zinute Skin) ya que los insectos no poseen piel sino que un "Caparazón".

[2016-05-06 21:58] Yokimitsuro commented on #29
Reparado en 3d94fd1

[2016-05-06 21:58] #29 closed, assigned to nobody

[2016-05-06 22:00] Yokimitsuro opened #30 "ETC Removiendo"
Deberíamos cambiar Removiendo, por Quitando por que en castellano la acción removiendo significa mover.
![screenshot_20160506_00010](https://cloud.githubusercontent.com/assets/14833406/15087167/a75b13d0-13e6-11e6-81a2-86d84b67d07f.jpg)

[2016-05-06 22:02] Yokimitsuro opened #31 "ETC Tienes que consagrar la fuente de poder"
Deberia ser ¡Has consagrado la fuente de poder! ya que es lo que te pide la misión y lo haces 4 veces.
![screenshot_20160506_00009](https://cloud.githubusercontent.com/assets/14833406/15087187/d11c664c-13e6-11e6-87f3-f204ceb0fd78.jpg)

[2016-05-06 23:08] Darkelfen commented on #30
Haré un FnR respecto a este pues hay muchos "Remove", eso si, la RAE lo reconoce cómo sinónimo de quitar/apartar:
- Pasar o mudar algo de un lugar a otro.
- Mover algo, agitándolo o dándole vueltas, generalmente para que sus distintos elementos se mezclen.
- Quitar, apartar u obviar un inconveniente.

[Fuente](http://dle.rae.es/?id=VvbOqVK)

[2016-05-07 05:26] Darkelfen commented on #31
Listo en https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/d3825b2cde99e2b4a763f331f47ae5c7c6a76eab

[2016-05-07 05:26] #31 closed, assigned to Darkelfen

[2016-05-08 08:58] Darkelfen opened #32 "Item nombres"
Aras -> Nivelado -> Aras.

Es nombre propio de un NPC en Bosques Siauliai.

[2016-05-08 18:54] Yokimitsuro commented on #32
Vale haré un FnR de "Nivelado" a "de Aras"

[2016-05-08 18:55] Yokimitsuro commented on #30
pero queda fatal al igual que tirador aunque no con ese sentido.

[2016-05-08 22:26] #32 closed, assigned to nobody

[2016-05-09 06:18] Yokimitsuro opened #33 "QUEST _LV_0100 Corrección gramatical"
- En la linea 5 "QUEST_LV_0100_20150317_000005  Agh. ¡Andate! ¡No me hables! ¡Seremos capturados por los Vubbes!{nl}Este es mi lugar asi que vete." ¿Podríamos poner **"¡Vete!"** en vez de **"andate"**? ya que andate no está bien dicho ni se usa en España solo en los países de allí .
- En la linea 22 "QUEST_LV_0100_20150317_000022 Hmm... ¿Así de que eso se trata?{nl}Pareciera que simplemente destru

[2016-05-09 06:43] Yokimitsuro opened #34 "QUEST _LV_0100 Error traducción"
En la linea 84, has dejado parte del texto en ingles y lo traducido deberías corregirlo.
- "QUEST_LV_0100_20150317_000084    Hey, rookie, are you on a break?{nl}Get some fat from Duckys in Lengvas Garden.{nl}{nl}Oye, novato, ¿Estás en descanso?{nl}Consigue algo de grasa de Duckys en Lengvas Garden."

De tal forma que quede así:
- "QUEST_LV_0100_20150317_000084    Oye, novato, ¿Estás descansando?{n

[2016-05-09 07:47] Darkelfen commented on #33
- Concuerdo en que ¡Andate! es una construcción propia del otro lado lado del charco. Sobre "¡Vete!" en lo personal habría usado ¡Alejate de mí! pues el NPC da una advertencia más que una orden.
- Sobre "pareciera", sólo concuerdo en que es el verbo correcto usado en un tiempo gramatical incorrecto; sin embargo "parece" tampoco es correcto pues se cambia la idea de la frase, lo correcto sería empl

[2016-05-09 09:55] Yokimitsuro opened #35 "Nombres de Mostruos"
Unicorn --> Unicornio
Scorpio --> Escorpión
Cerberus --> Cerbero
Minotaur --> Minotauro

[2016-05-10 04:39] Darkelfen commented on #35
Unicorn ya está.
Scorpio -> FnR
Cerberus -> FnR
Minotauro ya está.

[2016-05-10 08:41] Yokimitsuro opened #36 "ETC Benéfico"
Creo que en la L6073 "ETC_20150317_006074   Usa los álbumes para completar Colecciones que te{nl}den efectos benéficos" benéficos deberíamos de cambiarlo por "beneficiosos", benefico suena a algo de una organización que lucha contra algo  y creo que queda mucho mejor befeficiosos

[2016-05-11 15:04] FrancoRiosP commented on #34
En el primer texto no traduje los nombres propios porque Darkloud me dijo que hay quje dejarlos así por ahora :S

[2016-05-11 15:04] FrancoRiosP commented on #34
Vale a la noche haré las correciones :)

[2016-05-12 05:00] Darkelfen commented on #35
listo en https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/5d4aea118841d0a23930fa1b9f7ef44229493ca7

[2016-05-12 05:00] #35 closed, assigned to Darkelfen

[2016-05-12 05:02] Darkelfen commented on #36
benéfico rae:
- adj. Que hace el bien.
- adj. Dicho de una cosa: beneficiosa.
- adj. Perteneciente o relativo a la ayuda desinteresada que se presta a los necesitados.

Creo que "beneficencia" es lo que suena a organización. Y benéficos suena más elaborado que "buenos".

[2016-05-12 05:07] Darkelfen commented on #30
Dejó opciones:
- Conservar remove -> remover
- Quitando.
- Eliminando.
- Retirando.
- Sacando.

[Linguee](http://www.linguee.es/espanol-ingles/search?source=auto&query=remove)
[Word reference](http://www.wordreference.com/es/translation.asp?tranword=remove)

En lo personal prefiero Linguee pues muestra ejemplos "en contexto" y me ha ayudado en demasía.

[2016-05-12 06:28] Yokimitsuro opened #37 "ETC Agriatada"
Agriatada => Agrietada

[2016-05-12 08:03] Yokimitsuro opened #38 "ETC Monstruos"
Shaman => Chamán
Mushcaria => Muscaria
Graveyard Golem => Golem de Cementerio
Grim Reaper => Segador Siniestro
Reaper => Segador
Ducky => Patito

[2016-05-13 09:47] Yokimitsuro opened #39 "Errores en Quest.TSV"
- L29 "QUEST_20150317_000029    Tasa de 100 de plata.{nl}Es más barato que cortar a un monstruo por el centro." --> "QUEST_20150317_000029 La cuota es 100 de plata.{nl}Es más barato que cortar a un monstruo por el centro."
- "head commander" --> "Comandante principal" o "Comandante Jefe" tu tienes puesto comandante a la cabeza
- L44 Artículos -> Objetos
- L65 "QUEST_20150317_000065    El Pokubu si

[2016-05-14 16:47] Darkelfen commented on #38
Agriatada fue intencional.

"L21285 Receta - Ballesta Ligera Agriatada (Tratando de conservar el juego con Kracked)"

[2016-05-14 16:47] Darkelfen commented on #37
Agriatada fue intencional.

"L21285 Receta - Ballesta Ligera Agriatada (Tratando de conservar el juego con Kracked)"

[2016-05-14 16:59] Darkelfen commented on #38
Graveyard Golem ya está: L375, Cuidado acá, hay cómo 5 tipos de golems distintos relacionados a cementerios.
Shaman -> Chamán FnR.
Grim Reaper -> Acá difiero, "The 'Grim Reaper' " es la personificación dada a la muerte con visión inglesa; algo similar a la personificación dada al frío con "Jack Frost". En mi opinión, debería usarse una personificación similar en lugar de traducir directamente acá.

[2016-05-14 17:07] Darkelfen commented on #38
Graveyard Golem ya está: L375, Cuidado acá, hay cómo 5 tipos de golems distintos relacionados a cementerios.

Shaman -> Chamán FnR. Hago hincapié en que Shaman -> Chamán y no Featherfoot -> Chamán. En español no tenemos un término más que Kurdaitcha para referirnos tanto a la tribu cómo a su calzado al igual que el nombre de la skill.

Grim Reaper -> Acá difiero, "The 'Grim Reaper' " es la personi

[2016-05-15 02:46] Yokimitsuro commented on #37
no se suena fatal :-1:

[2016-05-15 02:49] Yokimitsuro opened #40 "Errores ETC"
- {dia} -> {day}
  ![screenshot_20160515_00001](https://cloud.githubusercontent.com/assets/14833406/15271725/15abc01a-1a58-11e6-99a5-723d45c6944f.jpg)
- Recolectando seta o hongo( a mi parecer queda mejor seta  en este caso)
  ![screenshot_20160514_00002](https://cloud.githubusercontent.com/assets/14833406/15271727/192e856a-1a58-11e6-9ace-2a3b93ab8f98.jpg)
- Secondary phisical attack -> Ataque fís

[2016-05-15 03:21] Darkelfen commented on #40
La primera hecho con FnR, habían 7 casos.

Las fotos 2 y 3 aún no he llegado a esas líneas.

[2016-05-15 03:23] Yokimitsuro commented on #40
La 2 foto esta medio traducido queda raro xDsupongo que habra sido por FnR y la 3 creo que deberias traducirlo para dejar el cuadro de f1 totalmente traducido

[2016-05-15 03:24] Darkelfen commented on #37
Considera que acá ""debe"" sonar fatal. Pues el error es intencional.

[2016-05-15 03:29] Darkelfen commented on #40
He ido haciendo varios FnRs en ETC, con palabras que no tienen cabida a interpretaciones ambiguas y hay centenares (literal) de frases a medias por eso mismo.
Contra: Quedan frases a medias.
Pro: ETC se avanza impresionantemente más rápido al ir haciendo FnR a conceptos que no pueden ser ambiguos.

Ya le hice FnR a Secondary Physical/Magical Attack, estaba por ahí por las 14000s más o menos.

[2016-05-15 03:31] Darkelfen commented on #24
¿Hay más información o alguna confirmación respecto a esto?

[2016-05-15 13:55] Yokimitsuro opened #41 "shredded ETC"
hay monstruos que eran "shredded" y los has traducido como despojos, ejemplo:
Demon Despojos --> Demonio Despedazado (No quedaria mejor)??

[2016-05-15 13:56] Yokimitsuro commented on #39
has corregido "Comandante en jefe", borra ese "en". cuando tengas todo corregido cierra este issue

[2016-05-15 13:56] Yokimitsuro commented on #40
Cierro

[2016-05-15 13:56] #40 closed, assigned to Darkelfen

[2016-05-15 14:00] Yokimitsuro commented on #38
ha esa personificación en España siempre se le ha llamado el segador

[2016-05-15 14:01] Yokimitsuro commented on #36
en que juego has visto tu estados benéficos? XD se usa beneficiosos y se entiende mejor por todo el mundo.

Rae:
- adj. Provechoso, útil.

[2016-05-15 14:02] Yokimitsuro commented on #30
me gusta Retirando

[2016-05-15 14:04] Yokimitsuro commented on #24
no he visto nada aun.

[2016-05-15 14:06] Yokimitsuro commented on #33
se sabe algo de @FrancoRiosP ?

[2016-05-15 14:23] Ayaros-Chan commented on #7
Por que no le dejan sin traducir? suena mejor Sir Uska, que Don Uska e incluso caballero Uska

[2016-05-15 14:23] Ayaros-Chan commented on #7
Además todos saben lo que es Sir.

[2016-05-15 23:28] Daniel4rt opened #42 "{día} por {day} y más."
He estado observando que al parecer hicieron un remplazo total, pero afectó la palabra day por día en los curlys.

Recomiendo lo siguiente:

Remplazar
`{día`
`{day`

También tengan en cuenta que hay palabras como:
`{díaPLAYCOUNT}`

que deberían ser:
`{DAYPLAYCOUNT}`

Un saludo.

[2016-05-15 23:58] Yokimitsuro commented on #42
Esta corregido para el próximo parche, muchas gracias! :+1:  cuando @Darkelfen  haga el commit cerrará esto

[2016-05-16 00:01] Yokimitsuro opened #43 "Tablón de anuncios y "Probada" ETC"
el objeto Tablón de anuncios en el juego se ve como --> "Tablón de anuncios." deberíamos quitarle el punto.

![screenshot_20160515_00002](https://cloud.githubusercontent.com/assets/14833406/15277602/e67f3b52-1b09-11e6-8b73-fd5ce6c42fc5.jpg)
En este caso probada -> ".. debo ..darle  un mordisco.." o ".. debo ..probarla..." añadiendo el debo en minusculas

[2016-05-16 07:08] Ayaros-Chan commented on #43
Quitaré el punto

[2016-05-16 07:21] Yokimitsuro commented on #39
- L82 QUEST_20150317_000082 Bienvenido a la ciudad minera de Klaipeda!

Abre admiración

[2016-05-16 07:27] Yokimitsuro commented on #7
Todos los Sir que hay de momentos se refiere a caballero así que se traducirá como tal

[2016-05-16 12:35] #37 closed, assigned to Darkelfen

[2016-05-16 17:18] Ayaros-Chan commented on #7
Pero Uska no es solo un caballero, es un comandante también, por lo que debería ser Comendador Uska.

Comendador = Knight Commander.
aunque si todos los "Sir" deben ser caballeros, pues ni modo.

[2016-05-16 17:22] Yokimitsuro commented on #7
hay momentos en los que pone "Knight Commander", esta traducido como comandante de los caballeros y donde pone Sir se traduce como "caballero"

[2016-05-16 17:25] Yokimitsuro opened #44 "Errores de traducción"
![screenshot_20160516_00005](https://cloud.githubusercontent.com/assets/14833406/15297667/9e8179e0-1b9b-11e6-8b4e-bd47a047f2bf.jpg)
- En esta foro en una de las misiones se refiere a Remolachas dulces no "betarragas dulces"

![screenshot_20160516_00004](https://cloud.githubusercontent.com/assets/14833406/15297706/d142692a-1b9b-11e6-8bc9-35195fd987f8.jpg)
- Creo que deberíamos intentar centrar ese

[2016-05-16 17:28] Ayaros-Chan commented on #44
sobre la línea de la viuda indiferente, no sabía que era mujer, cambio seguro por segura ?

[2016-05-16 17:34] Ayaros-Chan commented on #7
Suena raro que se haya traducido así.
http://dle.rae.es/?id=9up2Lqa
pero lo tendré en cuenta a la hora de ver algún Sir.

[2016-05-16 18:07] Yokimitsuro commented on #44
si , por eso te lo reporto por que lo encontre :+1:

[2016-05-16 18:31] Ayaros-Chan commented on #39
Pero Comandante Jefe no existe en español, el rango correcto es Comandante en Jefe.
No sé como se dirá en españa, pero aquí es Comandante en Jefe.

[2016-05-16 21:29] Ayaros-Chan commented on #39
Corregido, cierro.

[2016-05-16 21:29] #39 closed, assigned to Ayaros-Chan

[2016-05-17 01:43] Darkelfen commented on #43
Todos los tablones de anuncios en ETC están sin "."

"darle una... probada" lo cambiaré. Sin embargo poner debo en minúsculas sería un error gramatical.

Uso de puntos suspensivos:
- Se utilizan al final de una frase en lugar del punto, y con el mismo significado gramatical que este, si bien indican al lector que la frase precedente podría continuar.
  No puedo aguantarme... (aunque debería)
- Par

[2016-05-17 01:43] #43 closed, assigned to Darkelfen

[2016-05-17 01:53] Darkelfen commented on #44
"pregutnar" es mío, queda al siguiente commit.

Aporto sobre las beterragas, la frase original es Sweet Beets, en ETC yo eliminé el "sweet" porque las "remolachas" en este lado del charco se usan para obtener azúcar; a diferencia de las beterragas que además de sonar extraño en el otro lado del charco (le pregunté a Thenestas que le sonaba más extraño si Beterraga, Betabel o Remolacha) se usan par

[2016-05-17 01:55] Darkelfen commented on #42
De hecho, cuando envíe commit queda, mi ceremonia de titulo es mañana, por eso no he estado avanzando ETC últimamente.

[2016-05-17 01:58] Darkelfen commented on #24
ok, esperaré confirmación antes de

[2016-05-17 02:01] Darkelfen commented on #38
Entonces en lugar de "Segador Siniestro" creo debería usarse "Segador" a secas, porque añadirle el siniestro lo hace sonar muy literal o qué tal "Segador de Almas"?

[2016-05-17 02:03] Darkelfen commented on #41
El Shredded es un tipo de mob cómo un fantasma, en ese caso creo que debería ser:
Despojos Demoníacos o Despojos Endemoniado (según cómo se vea el mob).

[2016-05-17 02:08] Darkelfen commented on #36
No sabría decir allí, pues no estamos hablando de buff/debuff acá, sólo se está describiendo la colección; por otro lado, benéfico es más "corto" que beneficioso pero suena a colecta de caridad, tengo mis reparos en la construcción completa de esa parte, debo revisarla.

[2016-05-17 02:11] Darkelfen commented on #30
El problema es que sólo "removiendo" es factible para FnR, pero Retirando, Sacando, Quitando y Eliminando, se deben analizar caso a caso. ¿Tan horrible suena al otro lado del charco "removiendo"?

[2016-05-17 07:15] Yokimitsuro opened #45 "Rubbed"
Estoy traduciendo "Rubbed" como "Calco"
Rubbed Tool -> Herramienta de Calco
ITEM_20150317_003608    Primer Calco
ITEM_20150317_003609    Un calco del primer monumento de Lydia Schaffen
ITEM_20150317_003610    Segundo Calco
ITEM_20150317_003611    Un calco del segundo monumento de Schaffen
ITEM_20150317_003612    Tercer Calco
ITEM_20150317_003613    Un calco del tercer monumento de Lydia Schaffen
I

[2016-05-17 08:09] Rowleen commented on #44
En [Viuda Indiferente]. Sugiero que, quedaría mejor, en lugar de "seguro que las diosas no desaparecieron todas de una vez" cambiarlo por "seguro que las diosas no desaparecieron de golpe."

Y la pregunta, creo que lleva qué. Preguntar qué sucedió.

[2016-05-17 09:45] Yokimitsuro commented on #41
es un demonio encapuchado que flota. y no encuentro Despojo como traducción  de shredded, pero supongo que me vale ya que es algo despedazado.

[2016-05-17 09:55] Yokimitsuro commented on #38
Crystal Spider --> Araña de Cristal (Actualmente se las ve como Araña Cristal)

[2016-05-17 09:59] Yokimitsuro opened #46 "cristales raíz del árbol o Tree Root Crystal"
Deberíamos de darle una traducción menos literal tal vez...
He visto la traducción cristales raíz del árbol y queda horrible o Cristal raíz del árbol, así que propongo:
- Raíz de Cristal

[2016-05-17 12:40] Ayaros-Chan commented on #41
Triturador Demoniaco, Triturador Endemoniado

[2016-05-17 12:54] Ayaros-Chan commented on #30
Remover suena bien para nosotros, pero quizá allá suene raro.
Retirar tampoco suena mal, pero la palabra también debería usarse según el contexto
no suena igual "sacar la corrupción" que "remover la corrupción" o "quitar la corrupción"
incluso personalmente le pondría "Limpiar la corrupción" a mi parecer suena mas acertado.

[2016-05-17 13:01] Ayaros-Chan commented on #46
Suena mejor pero estas cambiando su significado ya que deja de ser la raíz de un árbol y puede ser raíz de una planta, de una flor, como lo es la flor del loto.
Propongo
- Raíz del árbol de Cristal.

[2016-05-17 14:13] Yokimitsuro commented on #46
la cuestión es que no estamos haciendo traducciones literales ya que mas de la mitad de los objetos van a necesitar cambiar de nombre y irá pasando con el tiempo, por que este juego tiene nombres rarisimos y con muchos adjetivos. que hay que hispanizar mas que traducir. pero que debe hacer poco a poco y con calma

[2016-05-17 14:45] Ayaros-Chan commented on #46
En ese caso lo que propones estaría bien.

[2016-05-18 04:33] Darkelfen commented on #46
Tree Root Crystal

el que se mencione "arbol" es importante, no puede ser omitido, el nombre completo sería

Divine Tree Root Crystal,

Cristal Raíz, efectivamente le cambia el significado total y completamente.

Veré cómo lo llevo en ETC y luego también dejaré opciones,

[2016-05-18 04:38] Darkelfen commented on #30
El problema es ese mismo, remover se adapta a retirar, eliminar, sacar o quitar, en cambio tendría que mirar el contexto de c/u de los remover presentes y ver si son retirar, eliminar, sacar o quitar y en ETC casi no hay contexto.

[2016-05-18 04:43] Darkelfen commented on #41
Triturador no es factible en este caso.

"Despojos" es la palabra que mejor conlleva la idea del mob en sí.
- Partes o elementos que quedan de algo después de haberlo usado o consumido.
- Cuerpo muerto de una persona o un animal, o parte que queda de él.

Obviamente no encontrarán traducción 1:1 de Shredded a Despojos ;)

La versión "pequeña" del mob es "Despojos", el "Demon" me deben indicar si l

[2016-05-18 04:47] Darkelfen commented on #44
No, ese que es un pronombre relativo y no un pronombre interrogativo.

[2016-05-18 04:47] Darkelfen commented on #45
yo igual, Rubbings -> Calcos/Calcando

[2016-05-18 06:07] Yokimitsuro commented on #41
queda mejor como acracterística

[2016-05-18 06:08] Yokimitsuro commented on #30
igualmente los ingleses están mirando los contextos también, por que ya se han encontrado varias cosas raras xD. pero Remover-Retirando  creo que podria funcionar

[2016-05-18 22:50] Darkelfen commented on #46
Ya, acabo de revisar. En ETC estoy usando "Raíz Cristal del Árbol" y "Raíces Cristal del Árbol", sólo en L1955 se usa "Cristales Raíz". Al commit queda.

[2016-05-18 22:53] #36 closed, assigned to Darkelfen

[2016-05-18 22:54] #38 closed, assigned to Darkelfen

[2016-05-18 22:54] #41 closed, assigned to Darkelfen

[2016-05-18 22:54] #42 closed, assigned to Darkelfen

[2016-05-18 22:57] Darkelfen commented on #30
sin embargo no han tocado sus "remove", a eso me refiero.

[2016-05-19 06:13] Yokimitsuro commented on #46
Entonces como lo vas a dejar? por que no estoy de acuerdo con ninguna de esas 3 ultimas opciones

[2016-05-19 06:17] Yokimitsuro commented on #30
por que en ingles cuadra con todo, pero aqui creo que retirando funcionaria. ya que para maldiciones y esas cosas se usa la traduccion de release

[2016-05-19 09:31] Teravan commented on #46
Yo pondría Cristal de Raíz (se deduce que es de un árbol XD)

[2016-05-19 09:34] Yokimitsuro commented on #46
pero eso no tiene sentido, al poner Cristal de Raíz estas diciendo que todas las raíces tienen cristales

[2016-05-19 09:38] Teravan commented on #46
No entiendo la sinapsis de esa deducción. Puedo decir botón de chaqueta y no todas las chaquetas tienen botones...

[2016-05-19 23:13] Darkelfen commented on #46
Ya, explico:
La frase se divide de la siguiente forma:
[ Tree ] [ Root ] [ Crystal ]
Lo importante es que es un "Crystal" eso **no puede ser cambiado**.

El siguiente elemento es "Tree Root", y es el que causa problemas.Sucede que esta construcción está "incompleta", cómo mencioné con antelación. A primera vista uno pensaría que "Root" es la idea central de esta parte de la frase. Si tomamos eso e

[2016-05-20 20:59] Yokimitsuro opened #47 "Error de traducción"
Archivist Jonas --> Archivista (Archivero es un objeto o suena como tal)

Tienes una tarea que "cumplor" xD
![screenshot_20160520_00003](https://cloud.githubusercontent.com/assets/14833406/15441978/74857fa6-1ede-11e6-8982-6e88791e43c5.jpg)

[2016-05-20 21:02] Yokimitsuro commented on #47
Corregido por mi, nadie asignado al archivo.

[2016-05-21 00:27] Yokimitsuro opened #48 "Error menor"
no se de  archivo es, creo que es de ETC --> "obserar"

[2016-05-21 03:11] Darkelfen commented on #48
mio, fnr y queda

[2016-05-21 03:16] Darkelfen commented on #47
Re-abro, rae Archivero:
Persona que tiene a su cargo un archivo, o sirve como técnico en él.
- http://dle.rae.es/?id=3Sn5CHV

El mueble se llama "Archivador".

[2016-05-21 03:38] Darkelfen commented on #24
Ya, finalmente he logrado descifrar esto.

Probabilidad y Tasa el concepto detrás de c/u es distinto.
Cómo siempre, miré en el _kor, para determinar si era uno u otro.

블럭 율 <-- Tasa de Bloqueo (el stat que se ve reflejado).

블락 확률 <-- Probabilidad de bloqueo
증가 <-- Aumentar

Lo que vemos acá es un buff o un diálogo (no lo se bien) pero a lo que se refiere es a precisamente que "bloquearas más fác

[2016-05-21 22:13] Teravan opened #49 "Dudas en Quest_LV_0100.tsv"
**Línea 171: I am sure that you are qualified for this.{nl}Goddess Laima has led all these.**

Traducción provisional: Estoy seguro de que estás cualificado para esto.{nl}La Diosa Laima así lo ha dirigido.

He buscado que quedase mejor y no ponerlo literal, a ver si os convence a vuesas mercedes.

**Duda: ¿Spell = hechizo o Spell = conjuro?**

**Línea 194: No sé si hay traducción para "scattered m

[2016-05-21 23:43] Darkelfen commented on #49
L194: Yo le puse Materiales "Desperdigados" o "Esparcidos" una de 2 en ETC...

L171: que tal: "La Diosa Laima así lo ha determinado"?

[2016-05-22 11:02] Teravan commented on #49
En la L171 pensé en ponerle eso en primer lugar, pero cambia el significado de la frase en un matiz. Pone "Goddes Laima has led all these" que significa que nos ha guiado a nosotros para que esto sucediese, no que haya decidido que esto sucedería.

[2016-05-22 13:17] Yokimitsuro commented on #49
Spell hechizo

[2016-05-22 22:39] Yokimitsuro commented on #47
pero queda fatal en España, lo  cambie a Archivista, un sinonimo.

[2016-05-23 06:50] Yokimitsuro commented on #24
ok

[2016-05-23 08:28] #24 closed, assigned to Darkelfen

[2016-05-23 08:28] Darkelfen commented on #47
'k FnR en ETC

[2016-05-23 08:39] Darkelfen commented on #49
Sobre L171, traigo más información:

"Goddess Laima has led all these."

Comparé con lo más cercano que pude encontrar,
"And you shall remember the whole way that the LORD your **God has led** you these forty years in the wilderness"
"Y te acordarás de todo el camino **por donde te ha traído** Jehová tu Dios estos cuarenta años en el desierto".

Creo que más que "dirigido" el concepto adecuado ser

[2016-05-23 09:21] Yokimitsuro commented on #49
donde esta Jehová en la frase? O_O "LORD" es el "SEÑOR" en sentido religioso

[2016-05-23 10:37] Yokimitsuro opened #50 "Más Monstruos"
Stone Whale -> Ballena de Piedra
Slime -> Légamo
Blue Pawndel -> Pawndel Azul
Black Pawnd -> Pawnd Negro
Hogma Warden -> Guardián Hogma
Hogma Battle Boss -> Jefe de Batalla Hogma

[2016-05-23 10:42] Yokimitsuro opened #51 "Masterpiece Mead"
Masterpiece Mead -> Hidromiel Mágistral.

si tenéis alguna otra sugerencia dejadla aqui

[2016-05-23 18:57] Darkelfen commented on #51
me parece perfecto.

[2016-05-23 19:02] Darkelfen commented on #50
Stone Whale Esta traducido cómo "Ballena/Delfín de Roca". De roca le da más "solidez" al nombre del mob en lugar de "de piedra" que es traducción literal. Además de que Roca>Piedra.
Slime está traducido cómo "Limo".
Pawndels y Pawnds están en hiatus.
Hogmas están en hiatus.
Sólo tengo 1 caso de Hogma Combat Boss y es con un smart gen.

[2016-05-23 19:06] Darkelfen commented on #49
Sentido religioso. Lo importante es lo último luego de eso.

Por cierto, lo copié textual de un antiguo testamento en inglés y uno en español.
Deutoronomio / Deutoronomy 8-2.

[2016-05-24 06:24] Yokimitsuro opened #52 "ETC Errores ultimo commit"
L1817 ¿Quieres aumentar {Stat} por Silver plata? -> ¿Quieres aumentar {Stat} por {Silver} plata?
L2528 El Brújula no responde -> La Brújula no responde

[2016-05-24 06:31] Yokimitsuro commented on #7
@Ayaros-Chan  sigues viva? no se te ve por discord ni  activa en el proyecto

[2016-05-24 20:51] Darkelfen commented on #52
Extraño hice 2 FnR para evitar ese problema.
- Plata -> Silver
- {Plata} -> {Silver}

No me tomó el último, de igual modo lo mando cómo commit urgente.

[2016-05-24 20:51] #52 closed, assigned to Darkelfen

[2016-05-30 06:58] Yokimitsuro commented on #50
y si deciden que haya un bicho con "Rock" también será de roca?  hay que tener esa distinción clara

[2016-05-30 07:43] Yokimitsuro opened #53 "Más monstruos 2"
Abomination -> Abominación
Cockatrice -> Cocatriz

[2016-05-30 10:38] #34 closed, assigned to nobody

[2016-05-30 10:38] #33 closed, assigned to nobody

[2016-05-31 10:06] Yokimitsuro opened #54 "Actualización de archivos 30 de Mayo del 2016"
Aquí tenéis los cambios que hay que hacer a los archivos para el próximo parche. mirad si hay algo de vuestro archivo y cambiarlo.
https://github.com/TreeOfSavior-spanish/EnglishTranslation/commit/e76963ff1a2f55cac9acbd036555cbf9741d1043

Comentar por aquí cuando lo hayáis actualizado.

@Darkelfen @Corbi @Teravan @Ayaros-Chan @Xerraspls

[2016-05-31 13:48] Teravan commented on #54
Actualizado

[2016-05-31 16:25] Darkelfen commented on #54
Actualizado INTL y traducido.

[2016-05-31 20:06] Corbi commented on #54
Hecho.

[2016-06-01 06:34] Yokimitsuro opened #55 "Traducciones Removiendo"
- ETC_20150317_002074   Purificando la contaminación
- ETC_20150317_002075   ¡El origen de la contaminación ha sido eliminado!

Creo que si pones purificando debería ser en ambos ya que Purificando es la acción y el otro es el mensaje que sale.
- ETC_20150317_001578   ¡Has fallado en comprar el objeto! El vendedor ha cancelado o sacado este objeto de la lista.

¡No se ha podido comprar el objeto!

[2016-06-01 10:40] Yokimitsuro commented on #54
Listo, queda ETC y se cierra.

[2016-06-01 13:32] Teravan opened #56 "Errores ITEM.tsv"
- Línea 4085: Veneno **extraido** de un escorpión (falta la tilde).
- Línea 4097: Un rábano blanco maduro **recien** cogido de los campos. Se ve saludable, sin defectos (falta la tilde).
- Línea 4099: Madera de baja calidad arrancada de los vagones o cajas esparcidos a través de la granja. Puede **ser capaz de usada** para hacer algo útil (error sintáctico).
- Línea 4101: Un muñeco chamán, se dice

[2016-06-01 20:43] Yokimitsuro commented on #56
Lo corrijo cuando llege a casa.

[2016-06-01 22:10] Yokimitsuro commented on #56
Listo

[2016-06-01 22:10] #56 closed, assigned to Yokimitsuro

[2016-06-01 22:24] Darkelfen commented on #30
cerraré este.

[2016-06-01 22:24] #30 closed, assigned to Darkelfen

[2016-06-01 22:26] Darkelfen commented on #46
algún update en esto? opiniones?

[2016-06-01 22:27] Darkelfen commented on #47
esto ya quedó en ETC. Cierro.

[2016-06-01 22:27] #47 closed, assigned to nobody

[2016-06-01 22:27] Darkelfen commented on #48
ya quedó, cierro.

[2016-06-01 22:27] #48 closed, assigned to nobody

[2016-06-01 22:31] Darkelfen commented on #50
Veré la comparación entre infrorocktor y esos y la stone whale en _kr, luego traigo más información acá.

[2016-06-01 22:34] Darkelfen commented on #53
Abomination ya estaba, Cockatrice viene en camino.

[2016-06-01 22:35] Yokimitsuro commented on #46
quisiera si tiene alguna relevancia en la historia, ya que es un simple objeto para recuperar Resistencia. Y si se puede hacer que quede bien en español usando por ejemplo el nombre que puse me gustaría que fuera así, si nadie responde preguntare a los traductores ingleses

[2016-06-01 22:36] Yokimitsuro commented on #50
estoy a ver si los añadimos en -> https://github.com/TreeOfSavior-Spanish/Spanish-Patch/wiki/3.-Monstruos y https://github.com/TreeOfSavior-Spanish/Spanish-Patch/wiki/3.1.-Monstruos-Jefe

[2016-06-01 22:50] Darkelfen commented on #55
ETC_20150317_002074 y ETC_20150317_002075
Hacen alusión a 2 objetos distintos y son 2 acciones distintas.
Si mal no recuerdo, purificas el pozo (estaba contaminado) y eliminas a Merregina (origen de la contaminación). "To remove" cubre ambas.

ETC_20150317_002582 y ETC_20150317_003227
Me parece perfecto. Vienen en camino cómo "Desequipar".

ETC_20150317_005169 Se necesita contexto antes de. Pues U

[2016-06-01 22:57] Darkelfen commented on #46
No sé que tan relevante sea un **ÁRBOL** en este juego...

De partida el juego se llama **TREE** of Savior.
Sale dibujado en una gran cantidad de mapas, mencionado por NPCs demasiadas veces y más encima aparece hasta en los sprite de clases.
![c_cleric_paladin](https://cloud.githubusercontent.com/assets/7315177/15728466/e7d48f26-2832-11e6-83cf-f5b3fe9dcc8a.png)
![cleric_f07](https://cloud.githubus

[2016-06-01 23:10] Darkelfen commented on #50
pasa a "de Piedra" 석화 (Stone) vs 락(Rock) "de Roca".

Sin embargo los mob "roca" Infrorocktor, Rocktortuga, etc. Quedarán cómo "roca".
No olvidar que tenemos en Hiatus la traducción de nombres de Mob a menos que salgan en un diálogo.

Ej:
¡Has fallado en derrotar a la Ballena de Piedra! {nl} Yekub se ha fortalecido

[2016-06-01 23:16] Yokimitsuro commented on #55
- ETC_20160520_021829
  ![captura](https://cloud.githubusercontent.com/assets/14833406/15728796/24556264-285f-11e6-922f-1fdeb0190265.PNG)
  Inventario de Steam
- ETC_20150317_005169
  ![screenshot_20160530_00001](https://cloud.githubusercontent.com/assets/14833406/15728810/4152f7dc-285f-11e6-8357-964b783a0f15.jpg)
  ![captura](https://cloud.githubusercontent.com/assets/14833406/15728854/7a44aa9a-2

[2016-06-01 23:22] Yokimitsuro commented on #46
si pero me refiero al objeto en si, si hace falta que sea tan especifico el nombre si es TAN relevante en la historia el nombre de un objeto que apenas lo miras y solo usas para recuperar resistencia

[2016-06-01 23:43] Darkelfen commented on #55
ETC_20150317_001578
¡Imposible comprar el objeto! El vendedor ha cancelado o retirado este objeto de la lista.

Y por eso las maquinas no reemplazarán al hombre, aún...
Atar X a Y, es distinto a Unir X a Y.
![sin titulo](https://cloud.githubusercontent.com/assets/7315177/15728943/4595cd3e-2836-11e6-8d0b-7bfbcf082856.png)
![sin titulo2](https://cloud.githubusercontent.com/assets/7315177/15729131/d4

[2016-06-01 23:43] Darkelfen commented on #55
(Le di a close and comment por error)

[2016-06-01 23:51] Yokimitsuro commented on #55
Entonces opino que la magia que tu llamas de atar es la que aqui se le dice vinculación como ua te dije aqui no se usa atar en ese sentido. Estamos empezando igual que con remover.

[2016-06-02 00:08] Darkelfen commented on #55
Es distinto que con remover, pues según tengo entendido al otro lado del charco, le llaman "amarre". Que acá también se usa.

Nuevamente, amarre o atadura, no sólo se usa exclusivamente con "cuerdas".

http://amarratupareja.com/
http://www.conjurosyamarresdeamor.com/amarres.html
http://foro.enfemenino.com/forum/f79/__f15720_f79-Han-tenido-resultados-de-un-amarre-de-amor.html
http://amarresysolucio

[2016-06-02 00:31] Darkelfen commented on #46
El asunto es que hay un límite de omisiones que puedes hacerle a algo sin deformar el sentido que quiere trasmitir. Lo importante a la hora de traducir es transmitirle a quien lee "el lore del juego", y "El Árbol (Divino)" si es un concepto importante a transmitir porque lo estarán viendo en cada momento y es un elemento omnipresente. El hecho que aparezcan en todos lados refuerza este hecho.

La

[2016-06-02 05:32] Yokimitsuro commented on #55
Aquí amarre se usa en otros términos no en esos, te estoy diciendo que queda fatal.  y sigo pensando que debería ser de "vinculación" o "unión".

[2016-06-02 06:28] #53 closed, assigned to nobody

[2016-06-02 06:29] #51 closed, assigned to nobody

[2016-06-02 06:29] #49 closed, assigned to nobody

[2016-06-02 06:30] #45 closed, assigned to nobody

[2016-06-02 06:35] #7 closed, assigned to nobody

[2016-06-02 06:39] Darkelfen commented on #55
Creo que no revisaste las páginas que puse, pues son españolas; me preocupé de buscar páginas ESPAÑOLAS con Español de España precisamente por lo mismo .____.

[2016-06-02 10:05] Teravan commented on #55
Respecto a eso último, casi nunca he visto "atadura". Lo más común en magia sería usar "vinculación", como bien dice Darkloud, o "ligadura", que se acerca más al significado que quieres darle, Darkelfen.

[2016-06-02 17:53] Darkelfen commented on #55
Miren, no es algo que me este "inventando", solo no sabía que no era común, sin embargo favor ver las imágenes:

http://amarratupareja.com/wp-content/uploads/2016/04/amarres-de-amor-1.png

En esta página se usa "ligamento", pero la palabra en negritas es "amarre": http://www.conjurosyamarresdeamor.com/amarres.html

Acá lo dice en el título y en la página.
http://amarresysolucionsentimental.jimdo.c

[2016-06-04 03:50] Darkelfen commented on #54
Actualizado ETC y traducido lo nuevo.

[2016-06-04 16:07] #54 closed, assigned to nobody

[2016-06-04 16:09] Yokimitsuro opened #57 "Unos días mas ausente"
AVISO QUE ESTÁ SEMANA ESTARÉ DEDICÁNDOLE EL TIEMPO A LA PÁGINA WEB DE TOSBASE.ES YA QUE ES MI PROYECTO Y ME QUEDAN 2 SEMANAS PARA ENTREGARLA. aun así estaré en el discord para lo que pueda.

[2016-06-04 19:54] Yokimitsuro opened #58 "Issues ultimo commit ETC"
https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/87b266a108db754985fd4f22ebf4fd34956e9b34
- ETC_20150317_003655    ¡Has recolectado suficiente Grasa de Cocatriz Fat!
  te has dejado Fat
- ETC_20150317_004790    ¡Por favor deshazte la trampa que atrae monstruos!
  te falta el de
- ETC_20160224_020565    Cobrable hasta [{Time}] a ver si puedes dejarlo como -ETC_20160224_020565    Retirab

[2016-06-05 19:53] Darkelfen commented on #58
Originalmente decía "pocket" no lo había visto in-game.

Pregunta que queda mejor Bolso Conteniendo Algo o Bolsa Conteniendo Algo, o realmente no hace diferencia?

[2016-06-05 20:09] Yokimitsuro commented on #58
"Bolsa que Contiene Algo" queda mejor, Conteniendo suena muy mal al menos aqui en españa

[2016-06-05 21:04] Yokimitsuro opened #59 "Operando"
"operando" quizás quede mejor "manipulando" ya que parece que estás haciendo una operación xD

[2016-06-07 06:16] Yokimitsuro opened #60 "Actualización de archivos 7 de Junio del 2016"
Aquí tenéis los cambios que hay que hacer a los archivos para el próximo parche. mirad si hay algo de vuestro archivo y cambiarlo.
https://github.com/TreeOfSavior-Spanish/EnglishTranslation/commit/7fd9e829d7369d2e76cb2ecb3c3885423a81c567

Comentar por aquí cuando lo hayáis actualizado.

@Teravan @Corbi @Darkelfen

[2016-06-07 06:38] Yokimitsuro commented on #60
Listo QUEST, QUEST_200, ITEM, ETC

[2016-06-07 09:15] Yokimitsuro commented on #58
Traducido como "Mochila que contiene algo" -> cambiar a "Bolsa que contiene algo" y cerrar issue

[2016-06-07 09:55] Yokimitsuro opened #61 "Hidden quest ETC"
Las líneas:
- ETC_20150317_002376   Primer espacio
- ETC_20150317_002377   Segundo espacio
- ETC_20150317_002378   Tercer espacio
- ETC_20150317_002379   Cuarto espacio

Hay que ponerles un espacio " " detrás ya que en el juego se lee "Primer espacio{num}" y debería verse "Primer espacio {num}"

[2016-06-07 21:38] Yokimitsuro opened #62 "Remove ETC Comprensión"
![screenshot_20160607_00003](https://cloud.githubusercontent.com/assets/14833406/15875567/de7341a4-2d08-11e6-9b8e-a653b98e7f98.jpg)

Quitando -> liberando

![screenshot_20160607_00002](https://cloud.githubusercontent.com/assets/14833406/15875569/e11f35de-2d08-11e6-8e32-4cc32a07109e.jpg)

-eliminada en la misión deberia ser "liberada"

ya que se está liberando los sellos de la barrera.

[2016-06-07 22:44] Yokimitsuro opened #63 "Leña"
![screenshot_20160606_00001](https://cloud.githubusercontent.com/assets/14833406/15877144/243b09f2-2d12-11e6-995e-eec9868ac902.jpg)

Recolectando ramas secas.

[2016-06-07 22:45] Yokimitsuro opened #64 "Escorpio"
![screenshot_20160607_00005](https://cloud.githubusercontent.com/assets/14833406/15877150/3667af0e-2d12-11e6-8f54-14fd487dd1b9.jpg)

Escorpio -> Escorpión

[2016-06-08 05:41] Darkelfen commented on #59
Si mal no recuerdo operando sale en un portal creado por Saule, y manipulando le cambia mucho el sentido.

[2016-06-08 06:11] Yokimitsuro commented on #59
si, pero bueno déjalo como "operando" pues, pero aquí noto que suena algo raro. me lo dijeron 3 amigos

[2016-06-08 06:42] Yokimitsuro commented on #64
Encontrado un jefe en ETC ingles que es Scorpio, CIERRO

[2016-06-08 06:42] #64 closed, assigned to nobody

[2016-06-08 07:41] Darkelfen commented on #59
De hecho, a mi igual me suena raro pues lo que operas es un portal. Revisaré el _kor, para salir de dudas.

[2016-06-08 09:36] Yokimitsuro commented on #60
Listo todos.

[2016-06-08 09:36] #60 closed, assigned to nobody

[2016-06-08 10:47] Yokimitsuro opened #65 "ETC -> Gravity Pole[URGE]"
Todos los "Gravity Pole" tienen que ser modificados a "Gravity Pull"

[2016-06-08 11:38] Darkelfen commented on #65
listo, al commit va.

[2016-06-08 15:09] Darkelfen commented on #65
Hold it, cual es el "real", pues veo que de "pull" han pasado a "pole" en el archivo "skill".
Hay más información al respecto?

[2016-06-08 15:11] Yokimitsuro commented on #65
https://github.com/Treeofsavior/EnglishTranslation/commit/f8b3e1f7243f5b1e9f4546194f90ac5b1ce76357

[2016-06-08 15:12] Yokimitsuro commented on #65
Vale perdon me equivoque, queria ponerlo al reves Pole es el que tiene que estar

[2016-06-08 15:32] Yokimitsuro opened #66 "Issue QUEST"
- L105

¿No es verdad que las Diosas no han respondido nuestras plegarias desde hace{nl} 4 años cuando ocurrio el Medzio Diena?
- L106

Maestres de Clase -> Maestres de clase
- L107

¿No sabes sobre Medzio Diena? --> ¿No sabes sobre el Medzio Diena?
- L108

Fue un desastre... Muchas personas resultaron heridas o fallecidas. --> Fue un desastre... Muchas personas resultaron heridas o asesinadas.
-

[2016-06-08 15:41] Darkelfen commented on #66
L108, podría sonar mejor usar en lugar de:
"Muchas personas resultaron heridas o fallecidas", "Hubo muchos muertos y heridos".
Que es la idea que se quiere transmitir.

[2016-06-08 15:42] Yokimitsuro commented on #66
+1

[2016-06-08 15:45] Liaths commented on #66
Sobre la linea 174, en inglés decía "Oh, did you need anything else first?", a modo de que básicamente te interrumpió antes de que pudieras pedir algo... no creo que sea correcto cambiar el tiempo verbal, ya que lo hace sonar como un ofrecimiento, en lugar de un... "ups, te interrumpí" o:

[2016-06-08 15:51] Yokimitsuro commented on #66
"Oh, ¿necesitabas algo más primero?

[2016-06-09 02:30] #65 closed, assigned to Darkelfen

[2016-06-09 02:36] Darkelfen commented on #63
Debería ser "Recolectaste Ramas Secas"
Me podrían reportar los azules con una joya y un signo más, que todos esos usan otro tiempo verbal.

Tengo 2 recolectando leña, dejé 1 y modifiqué otro.

[2016-06-09 02:45] Darkelfen commented on #46
alguna opinión en esto?

[2016-06-09 06:08] Darkelfen commented on #55
Al final quedó cómo de "unión", cierro.

[2016-06-09 06:08] #55 closed, assigned to Darkelfen

[2016-06-09 06:09] Darkelfen commented on #58
listo, cierro.

[2016-06-09 06:09] #58 closed, assigned to Darkelfen

[2016-06-09 06:09] Darkelfen commented on #61
listo, cierro.

[2016-06-09 06:09] #61 closed, assigned to Darkelfen

[2016-06-09 06:11] Darkelfen commented on #62
de no ser mucha molestia podrías ponerme los textos a corregir más grandes (soy corto de vista y no logro distinguir que es lo que apunta el issue).

[2016-06-09 06:14] Darkelfen commented on #63
listo, cierro.

[2016-06-09 06:14] #63 closed, assigned to Darkelfen

[2016-06-09 06:16] Darkelfen opened #67 "Traducción mapas en ETC - 1"
@Soulcryes
Empezaré a avanzar esto por partes, crearé el issue primero pues hay varios puntos a revisar de lo que hice.

Conflictos con wiki/mapas:

Rhombuspaving Dale -> Villa Pavimento Romboidal
Seventune Mesa -> Colina Sietetonadas
Owl Burial Ground -> Cementerio de los Búhos
Beadshine Fountain -> Fuente Brilloperlado
Woods of the Linked Bridges -> Bosque de los Puentes Unidos // En la wiki dic

[2016-06-09 06:34] Yokimitsuro commented on #62
seria el de  la misión "**Missing Researches**"  "_Elimina la barrera oeste_" y  creo que las otras dos eran este y sur, debería cambiarse a  "_Libera la barrera oeste_" .
Y en la acción "_Eliminando_" pasarla a "_Liberando_"

[2016-06-09 09:12] Yokimitsuro commented on #46
Cristal del Árbol está bien a mi parecer

[2016-06-09 09:15] Yokimitsuro commented on #67
Añado Starving Demon's Way  -> Vía del Demonio Hambriento como -> Camino del Demonio Hambriento

[2016-06-09 09:44] Darkelfen commented on #67
Ya discutimos ese con @Soulcryes  ambos lo tenemos cómo "Vía del Demonio Hambriento".

[2016-06-09 09:56] Yokimitsuro commented on #67
y por que vía?

con respecto al **_"Purple Tree Fault Forest"_** se le puso ese nombre por --> https://www.google.es/search?q=Purple+Tree+Fault+Forest&safe=off&client=ubuntu&hs=TVK&source=lnms&tbm=isch&sa=X&ved=0ahUKEwis5caL45rNAhULtxQKHeczA80Q_AUICCgB&biw=931&bih=598#imgrc=vi1AL8JoxBX5fM%3A

al parecer es un bosque famoso, aparece si lo buscas en google no pude indagar mas desde el trabajo

[2016-06-09 10:05] Yokimitsuro opened #68 "Ranking"
que opináis sobre traducir:
- Ranking --> Clasificación
- Rank --> Posición

[2016-06-09 10:46] Yokimitsuro opened #69 "Mapas"
https://github.com/TreeOfSavior-Spanish/Spanish-Patch/commit/6c1d54f668ebce4dfe6e9a22c8ec51551c2b8462

Aconsejo cambiar

ETC_20150317_001146 Casa de la Maestre Bokor -> Casa del Maestre Bokor
ETC_20150317_001147 Laboratorio de la Maestre Piromante -> Laboratorio del Maestre Piromante

Para hacerlo mas neutral

[2016-06-09 10:54] Yokimitsuro opened #70 "ETC errores 09/06/2016"
- Absorver -> absorber
- ETC_20151102_016573   Fight against Señor Demonio Zaura who imPrisióned Diosa Lada
- ETC_20151224_017674   ImPrisióned Infrogalas Arquero
- ETC_20151224_018350   Prisióner Waiting Room
- ETC_20151224_018490   ImPrisióned Laima

Imprisióned xD es de un FnR, reparalo.

[2016-06-09 11:45] Yokimitsuro opened #71 "Monstruo Operor"
**_Operor_** se ha traducido como **_Operador_**. pero **_Operor_** viene del latín y significa Trabajar. aunque no veo bien la traducción de trabajador.

[2016-06-09 19:37] Liaths commented on #71
Si lo tomamos como que viene del latín, tendría sentido que se llamaran "trabajador", ya que son una especie de abeja/avispa en el juego o: y bueno, todos sabemos que tenemos abejas obreras y cosas...

[2016-06-09 20:03] Darkelfen commented on #71
y "operario"?
revisaré _kor por si las dudas

[2016-06-09 20:06] Darkelfen commented on #69
La idea de usar maestre es porque acepta articulo femenino y uno masculino, en caso contrario podríamos usar Maestro/a. Esos NPCs es sabido son chicas.

[2016-06-09 20:06] Darkelfen commented on #68
Que hace explotar los cuadros :/

[2016-06-09 20:09] Darkelfen commented on #67
También lo había considerado, pero comparé 보라색 나무 숲 (Reddish-brown Tree Forest) con 적갈나무 숲 (Purple Tree Forest).

[2016-06-09 20:10] Darkelfen commented on #46
'kay

[2016-06-09 20:22] Darkelfen commented on #70
Quedaron (con un segundo FnR)
Combate al Señor Demonio Zaura quien aprisionó a la Diosa Lada
Arquero Infrogalas Aprisionado*
Sala de Espera de los Prisioneros
Laima Captiva

[2016-06-09 20:24] Darkelfen commented on #62
Recuerda que no hay orden lógico en ETC, pero ya cambié las barreras de eliminando a liberando.

[2016-06-09 20:42] Darkelfen commented on #67
Porque hay varios lugares de caminos, vías, pasajes, etc.

[2016-06-09 22:30] Yokimitsuro commented on #71
operario lo veo fatal para una abeja :/

[2016-06-09 22:48] Darkelfen commented on #71
Bueno, primero que todo debo discrepar en que _operor_ venga de algo, pues no existe cómo palabra. **Operator** sería la palabra correcta.

Por otra parte,  _kor no nos provee de mayores pistas:
오페러 (Opela) -> Operor / Opera.

Considerando el error al escribir la palabra, Operor nos sirve pues si eliminan las negritas en Inglés o español queda Operor:
Oper**ad**or -> Operor.
Oper**at**or -> Operor

[2016-06-09 23:40] Yokimitsuro commented on #71
https://es.glosbe.com/la/es/operor

y entonces deberías cambiarle el nombre tu ya que fuiste el que le pusiste operador.

[2016-06-10 06:25] Darkelfen commented on #71
ya está hecho :v:

[2016-06-10 06:28] Darkelfen commented on #50
Cierro hasta retomar la traducción de mobs.

[2016-06-10 06:28] #50 closed, assigned to nobody

[2016-06-10 06:35] #46 closed, assigned to Darkelfen

[2016-06-10 06:35] Darkelfen commented on #62
Queda pendiente la acción Eliminando -> Liberando

[2016-06-10 06:35] #62 closed, assigned to Darkelfen

[2016-06-10 06:36] #70 closed, assigned to Darkelfen

[2016-06-10 06:36] #71 closed, assigned to nobody

[2016-06-14 12:18] Yokimitsuro opened #72 "ACTUALIZACIÓN DIA 14/06/2016"
Actualizad vuestros archivos tal cual este commit.

https://github.com/TreeOfSavior-Spanish/EnglishTranslation/commit/08b496a8b96a1702a396400085a5358e528a738d

@Darkelfen  @Corbi  @Liaths

[2016-06-14 22:48] Corbi commented on #72
Hecho por mi parte.

[2016-06-15 05:47] Darkelfen commented on #72
pregunta, traduzco del coreano o espero?

[2016-06-15 06:15] Yokimitsuro commented on #72
yo creo que mejor esperar no?

[2016-06-15 07:54] Yokimitsuro commented on #72
solo queda ETC

[2016-06-16 07:35] #44 closed, assigned to nobody

[2016-06-16 07:36] Yokimitsuro commented on #59
alguna novedad?

[2016-06-16 07:36] Yokimitsuro commented on #66
esta todo esto reparado?

[2016-06-16 07:37] Yokimitsuro commented on #69
aunque esas dos como dices es sabido que son chicas, en todas las lineas de maestre estamos usando neutral, por eso escogimos maestre, para poder ponérselo a todos los maestros.

[2016-06-16 08:34] Darkelfen commented on #69
cambio entonces, aparte, menos espacio

[2016-06-16 08:35] Darkelfen commented on #59
nada respecto a esto